/* Body styles */
body {
    background-color: #fff; /* White background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container styles (improve responsiveness) */
 /* Contact form styles */

 
  