.educate1 {
    font-family: Arial, sans-serif;
    color: #333;
    
    margin: 0 auto;
  }
  
  .educate1 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  
  .content1 {
    display: flex;
    align-items: flex-start; /* Align items at the top */
  }
  
  .content1 img {
    height: 300px;
    width: 300px;
    padding-top: 0;
    margin: 30px;
  
  }
  
  .content1 p {
    font-size: 16px;
    line-height: 1.6;
    width: 600px;
    margin-left: 30px;
    padding-top: 20px;
  }
  
  
  .educate2 {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
  }
  
  .educate2 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  
  .content2{
    display: flex;
    align-items: flex-start;
  }
  
  .content2 p {
    font-size: 16px;
    line-height: 1.6;
    width: 50%; /* Adjusted width to make room for the image */
    margin-right: 20px; /* Add some space between the paragraph and the image */
  }
  
  .content2 img {
    height: 250px;
    width: 300px;
    padding: 10px;
  }
  
  
  .educate3 {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
  }
  
  .educate3 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  
  .content3 {
    display: flex;
    align-items: flex-start;
  }
  
  .content3 p {
    font-size: 16px;
    line-height: 1.6;
    width: 50%; /* Adjusted width to make room for the image */
    margin-right: 20px; /* Add some space between the paragraph and the image */
  }
  
  .content3 img {
    height: 300px;
    width: 350px;
  }
  
  
  
  .educate4 {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
  }
  
  .educate4 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  
  .content4 {
    display: flex;
    align-items: flex-start;
  }
  
  .content4 p {
    font-size: 16px;
    line-height: 1.6;
    width: 50%; /* Adjusted width to make room for the image */
    margin-right: 20px; /* Add some space between the paragraph and the image */
  }
  
  .content4 img {
    height: 250px;
    width: 300px;
    margin: 10px;
  }
  
  
  .educate5 {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
  }
  
  .educate5 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  
  .content5 {
    display: flex;
    align-items: flex-start;
  }
  
  .content5 img {
    height: 250px;
    width: 350px;
    margin-right: 20px; /* Add some space between the image and the paragraph */
    padding: 10px;
  }
  
  .content5 p {
    font-size: 16px;
    line-height: 1.6;
    width: 50%; /* Adjusted width to make room for the image */
  }
  
  
  .educate6 {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
  }
  
  .educate6 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  
  .content6{
    display: flex;
    align-items: flex-start;
  }
  
  .content6 p {
    font-size: 16px;
    line-height: 1.6;
    width: 50%; /* Adjusted width to make room for the image */
    margin-right: 20px; /* Add some space between the paragraph and the image */
  }
  
  .content6 img {
    height: 250px;
    width: 300px;
    padding: 10px;
  }
  
  /* .educateimg {
    width: 450px;
    height: 450px;
  } */
  
  .container6 {
    height: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
   
  }
  
  .container9 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .box {
    flex: 2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: rgb(167, 233, 136);
  }
  
  .mission9 {
    margin-right: 20px; /* Margin between mission and vision */
  }
  
  .vision9 {
    margin-left: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: black;
    line-height: 1.6;
  }
  
  .box h2 {
    margin-bottom: 10px;
  }
  
  .box p:first-child {
    
    color: #222;
  }

  h2 , h1 {
    text-align: center;
    font-size: 19px;
    font-family: Arial,  sans-serif;
  }